/*FUNCTIONALITY*/
.card {
    /*
        *use of perspective to appear the rotating element appear like it is coming out from the plane while rotating
        *perspective property is defined on the parent element of the element ehich is rotating
    */
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
     /*
        *to fix the floating effect use
     */
    height: 52rem;

    &__side {
        height: 52rem;
        /*
            *to hide the extra part from the children
        */
        overflow: hidden;
        transition: all .8s ease;
        border-radius: 3px;
        box-shadow: $box-shadow;
        /*
            * when we use position: absolute; we take the element out of the noramal flow
            * thus parent element losses it s height
            *to fix there is no clearfix as we have in float case
            *so to fix this we assign the same height as children to the parent element
        */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        /*
            * (backface-visibility: hidden) hides the backpart of the element
        */
        backface-visibility: hidden;
        &--front {

        }

        &--back {
            /*
                *back side of the card means it is flipped already before we hover on it
                when we hover on it, it will come to original position
            */
            transform: rotateY(180deg);

            &--1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }
            &--2 {
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }
            &--3 {
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }
        }
    }

    /*
        *when we hover the card we want the caid__side to be transformed
        *this will lokk like (.card:hover .card__side)
    */
    &:hover &__side--front{
        transform: rotateY(-180deg);
    }
    &:hover &__side--back{
        transform: rotateY(0);
    }

/*FUNCTIONALITY*/
    &__picture {
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        /*
            *because of clip path property the border-radius is gone which was inherited from card__side
            *so we have to set it manually
        */
        border-radius: 3px;
        &--pic1 {
            /*
                *finally this code will be written on css/style.css so we will write the url wrt this only
                *this will lokk like (.card:hover .card__side)
                *background-blend-mode create mixing of the images

            */
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark),
            url('../images/photo5.jpeg');

        }
        &--pic2 {
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark),
            url('../images/photo6.jpg');
        }
        &--pic3 {
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark),
            url('../images/photo7.jpg');
        }
    }
    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        color: $color-white;
        text-align: right;
        text-transform: uppercase;
        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 75%;
    }

    &__heading-span {

        /*
            *(box-decoration-break: clone) applies the same styles two both the blocks if it gets a
            line break and get splitted into two blocks
        */
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;

        &--1 {
            background-image: linear-gradient(to right bottom, rgba($color-secondary-light, .85),
            rgba($color-secondary-dark, .85));
        }
        &--2 {
            background-image: linear-gradient(to right bottom, rgba($color-primary-light, .85),
            rgba($color-primary-dark, .85));
        }
        &--3 {
            background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, .85),
            rgba($color-tertiary-dark, .85));
        }
    }

    &__details {
        padding: 3rem;
        margin: 0 auto;
        text-align: center;
        ul {
            display: inline-block;
            list-style: none;
            width: 80%;

            li {
                // text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-light-2;
                }
            }
        }
    }

    /*  BACK SIDE STYLEING */

    &__card_to_action {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        /*
            *to make the btn center as it is inline-block and will be treated as text
        */
        text-align: center;
    }
    &__price-box {
        text-align: center;
        color: $color-white;
        margin-bottom: 8rem;
    }
    &__price-only {
        font-size: 2rem;
        text-transform: uppercase;
    }
    &__price-value {
        /*
            *when we use bigger font-size it is nice to use thin font-weight
        */
        font-size: 6rem;
        font-weight: 100;
    }



    /*Big media query*/
    @include respond(tab-port) {
        height: auto;
        border-radius: 3px;
        background-color: $color-white;
        box-shadow: $box-shadow;

        &__side {
            height: auto;
            position: relative;
            box-shadow: none;

            &--back {
                transform: rotateY(0);
                clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
            }
        }

        &:hover &__side--front{
            transform: rotateY(0);
        }

        &__details {
            padding: 1rem 3rem;
        }

        /*  BACK SIDE STYLEING */

        &__card_to_action {
            position: relative;
            top: 0%;
            left: 0%;
            transform: translate(0);
            width: 100%;
            padding: 7rem 4rem 4rem 4rem;
        }
        &__price-box {
            margin-bottom: 3rem;
        }

        &__price-value {
            font-size: 4rem;
        }
    }
}
