@mixin clearfix {
    /* used as a standard clearfix */
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin move_to_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
